<%- include("../partials/header.ejs") %>

<section class="admin-profile-wrapper">
  <form action="" method="post">
    <ul>
      <li><input type="submit" value="Add faculty" formaction="/admin-add-faculty" /></li>
      <li><input type="submit" value="View all faculty" formaction="/admin-view-all-faculty" /></li>
      <li><input type="submit" value="View one faculty" formaction="/admin-view-one-faculty" /></li>
      <li><input type="submit" value="Add student" formaction="/admin-add-student" /></li>
      <li><input type="submit" value="View all students" formaction="/admin-view-all-students" /></li>
      <li><input type="submit" value="View one student" formaction="/admin-view-one-student" /></li>
    </ul>
  </form>
</section>

<%- include("../partials/footer.ejs") %>
