<%- include("header.ejs") %>

  <div class="main-content-wrapper">
    <h1 class="title">Faculty</h1>
    <div class="forms-container">
      <form class="login-register-form" method="get">
        <button class="login-button" type="submit" formaction="/faculty-login">Login</button>
        <button class="register-button" type="submit" formaction="/faculty-register">Register</button>        
      </form>